body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h3{
    margin: 15px 15px 15px 5px;
}


/*button {*/
/*    background-color: #0c80f3;*/
/*    border: 6px solid #0ff166;*/
/*    border-radius: 10px;*/
/*    width: 150px;*/
/*}*/

/*#qc button {*/
/*    position: absolute;*/
/*    background:none;*/
/*    border:0;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*}*/

select {
    display: block;
    margin-bottom: 0px;
}

form {
    position: absolute;
    top: 230px;
    left: 125px;
    margin: 0;
}
/*#submit-input {*/
/*    font-size:15px;*/
/*    font-family:Arial;*/
/*    width:44px;*/
/*    height:32px;*/
/*    border-width:3px;*/
/*    color:#ffffff;*/
/*    border-color:rgba(127, 255, 0, 1);*/
/*    font-weight:bold;*/
/*    border-top-left-radius:7px;*/
/*    border-top-right-radius:7px;*/
/*    border-bottom-left-radius:7px;*/
/*    border-bottom-right-radius:7px;*/
/*    text-shadow: 0px 1px 0px #1570cd;*/
/*    background:linear-gradient(#3d94f6, rgba(0, 109, 173, 1));*/
/*}*/
/*#submit-input:hover {*/
/*    background: linear-gradient(rgba(0, 109, 173, 1), #3d94f6);*/
/*}*/
.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

#form-box {
    background-image: url("atm-icon-blue.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    height: 692px;
    width: 553px;
}

#root {
    position: absolute;
    left: 10px;
    height: 692px;
    width: 553px;
}
/*#root button {*/
/*    position: absolute;*/
/*    background:none;*/
/*    border:0;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    border: 2px solid #7FFF00;*/
/*    border-radius: 7px;*/
/*    width: 44px;*/
/*    height: 32px;*/
/*}*/
#root button {
    position: absolute;
    font-size:15px;
    font-family:Arial;
    width:44px;
    height:32px;
    border-width:3px;
    color:#ffffff;
    border-color:rgba(127, 255, 0, 1);
    font-weight:bold;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    text-shadow: 0px 1px 0px #1570cd;
    background:linear-gradient(#3d94f6, rgba(0, 109, 173, 1));
}
#root button:hover {
    background: linear-gradient(rgba(0, 109, 173, 1), #3d94f6);
}

/*#qc {*/
/*    position: absolute;*/
/*    left: 10px;*/
/*    height: 692px;*/
/*    width: 553px;*/
/*}*/

/*#qc-20 {*/
/*    position: absolute;*/
/*    left: 42px;*/
/*    top: 291px;*/
/*}*/